body,
h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2,
h3 {
  color: #f7d5ce;
}

h2,
h3,
p {
  margin-bottom: 1em;
}

img {
  display: block;
  max-width: 100%;
}

.container {
  padding: 0 1em;
  max-width: 60rem;
  margin: 0 auto;
  border: 2px solid red;
}

.text-center {
  text-align: center;
}

header,
section {
  padding: 4rem 0;
}

body {
  background: #0f0c29; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #24243e,
    #302b63,
    #0f0c29
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  margin: 0;
  padding: 0;
  margin-top: 0;
}

header {
  background: #252525;
  width: 100%;
  min-height: 100px;
  margin: 0;
  padding: 10px;
  position: fixed !important;
}

header > * {
  color: whitesmoke;
}

main {
  padding-top: 100px;
}

#main-navigation {
}

@media (min-width: 40em) {
}
